.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 735px;
  margin: 40px auto 0 203px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 190px;
}

.u-section-1 .u-image-1 {
  width: 97px;
  height: 93px;
  margin: 39px auto 0 19px;
}

.u-section-1 .u-text-1 {
  margin: -76px 12px 0 137px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0 12px 15px 137px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 190px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 15px 20px 0 98px;
}

.u-section-1 .u-icon-1 {
  height: 43px;
  width: 43px;
  margin: -41px auto 0 77px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 12px 20px 15px 98px;
}

.u-section-1 .u-image-2 {
  height: 499px;
  object-position: 50% 83.64%;
  background-position: 50% 83.64%;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 382px;
  margin: -440px auto 75px 37px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-1 .u-text-5 {
  font-size: 4.5rem;
  margin: 40px 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 90px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 40px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 733px;
    margin-left: 104px;
  }

  .u-section-1 .u-image-1 {
    width: 96px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 10px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 10px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 16px;
    margin-left: 93px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -39px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-right: 16px;
    margin-left: 145px;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-left: 31px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-1 .u-image-1 {
    width: 101px;
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 8px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 8px;
    margin-bottom: 20px;
    margin-left: 133px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 54px;
    margin-right: 13px;
    margin-left: 104px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 48px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 13px;
    margin-bottom: 20px;
    margin-left: 121px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 435px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-image-1 {
    width: 97px;
    margin-top: 4px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 178px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-top: 14px;
    margin-right: 58px;
    margin-left: 129px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-4 {
    margin: 10px 28px 14px;
  }

  .u-section-1 .u-image-2 {
    object-position: 56.22% 100%;
    background-position: 56.22% 100%;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 338px;
    margin-left: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 9px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-line-1 {
    width: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 100px;
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 4px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-2 {
    margin: 10px 4px 15px 141px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
    margin-right: 6px;
    margin-left: 116px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -40px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-4 {
    margin: 11px 6px 15px 89px;
  }

  .u-section-1 .u-image-2 {
    object-position: 61.9% 0%;
    background-position: 61.9% 0%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 283px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 45px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-2 .u-group-1 {
  width: 714px;
  min-height: 128px;
  margin: 50px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 10px auto 67px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-5 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-6 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-7 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-4 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-8 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-9 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-5 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-10 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-11 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-6 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-6 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-12 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-13 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 589px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 451px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 423px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 667px;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  width: 825px;
  min-height: 176px;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin-top: 20px;
}

.u-section-3 .u-image-1 {
  height: 374px;
  object-position: 50% 36.39%;
  background-position: 50% 36.39%;
  margin: 24px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 680px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 521px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 488px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 658px;
}

.u-section-4 .u-group-1 {
  width: 853px;
  min-height: 157px;
  margin: 45px 116px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 15px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 45px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-1 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 20px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 400px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-2 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 30px 20px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 400px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-3 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 30px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 704px;
    margin-right: 96px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 539px;
    margin-right: 73px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 485px;
    min-height: 186px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1607px;
  }

  .u-section-4 .u-group-1 {
    min-height: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 685px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 169px;
  margin: 56px auto 0 283px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 20px auto 40px 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 450px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-image-1 {
  width: 219px;
  height: 219px;
  background-image: url("images/106ed1624b846163287cb672f7c4c8b7.jpeg");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  position: relative;
  margin: 30px 0 0;
}

.u-section-5 .u-text-4 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 450px;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 30px;
}

.u-section-5 .u-image-2 {
  width: 219px;
  height: 219px;
  background-image: url("images/93cde08c98e469961e1387dcee31e0f3.jpeg");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  position: relative;
  margin: 30px 0 0;
}

.u-section-5 .u-text-6 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 450px;
}

.u-section-5 .u-container-layout-4 {
  padding-right: 30px;
}

.u-section-5 .u-image-3 {
  width: 219px;
  height: 219px;
  background-image: url("images/6c3867bd10bfac7553b2f3cb9e9ccb56.jpeg");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  position: relative;
  margin: 30px 0 0;
}

.u-section-5 .u-text-8 {
  position: relative;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
    margin-left: 233px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 181px;
    height: 181px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 41px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 25px;
  }

  .u-section-5 .u-image-2 {
    width: 181px;
    height: 181px;
    margin-top: 78px;
    margin-left: 50px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 33px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 25px;
  }

  .u-section-5 .u-image-3 {
    width: 181px;
    height: 181px;
    margin-top: 78px;
    margin-left: 50px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 360px;
    margin-left: 179px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-5 .u-image-1 {
    height: 139px;
    width: 139px;
  }

  .u-section-5 .u-text-3 {
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-5 .u-image-2 {
    width: 139px;
    height: 139px;
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-5 .u-image-3 {
    width: 139px;
    height: 139px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-5 .u-group-1 {
    width: 452px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-5 .u-image-1 {
    width: 130px;
    height: 130px;
  }

  .u-section-5 .u-text-3 {
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .u-section-5 .u-image-2 {
    width: 130px;
    height: 130px;
  }

  .u-section-5 .u-text-5 {
    width: 250px;
  }

  .u-section-5 .u-text-6 {
    width: 250px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .u-section-5 .u-image-3 {
    width: 130px;
    height: 130px;
  }

  .u-section-5 .u-text-7 {
    width: 250px;
  }

  .u-section-5 .u-text-8 {
    width: 250px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-5 .u-group-1 {
    width: 298px;
    min-height: 189px;
    margin-top: 55px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-5 .u-image-1 {
    width: 109px;
    height: 109px;
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    width: 199px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 9px;
    padding-left: 4px;
  }

  .u-section-5 .u-image-2 {
    width: 109px;
    height: 109px;
  }

  .u-section-5 .u-text-5 {
    width: 210px;
  }

  .u-section-5 .u-text-6 {
    width: 210px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 9px;
    padding-left: 4px;
  }

  .u-section-5 .u-image-3 {
    width: 109px;
    height: 109px;
  }

  .u-section-5 .u-text-7 {
    width: 210px;
  }

  .u-section-5 .u-text-8 {
    width: 210px;
  }
}.u-section-6 .u-image-1 {
  height: 250px;
  left: 0;
  top: 0;
  position: absolute;
  object-position: 50% 14.05%;
  background-position: 50% 14.05%;
}

.u-section-6 .u-sheet-1 {
  min-height: 511px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 267px auto 50px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 241px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-1 {
  position: relative;
  margin: 15px 0 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  position: relative;
  margin: 3px 0 0;
}

.u-section-6 .u-text-4 {
  width: 425px;
  position: relative;
  margin: 3px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 241px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-5 {
  position: relative;
  margin: 15px 0 0;
}

.u-section-6 .u-text-6 {
  position: relative;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-3 {
    width: 350px;
  }

  .u-section-6 .u-text-4 {
    width: 350px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-6 .u-text-3 {
    width: 268px;
  }

  .u-section-6 .u-text-4 {
    width: 268px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 58px;
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 58px;
    margin-left: 0;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 17px;
    width: 425px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 17px;
    width: 425px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}